<!DOCTYPE html>
<html lang="de">
{% load static%}


{% block favicon %}
<link rel="shortcut icon" href="{% static 'images/GreenOasis0.png' %}" />
{% endblock %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pflanzen Blog von GreenOasis</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <div class="bg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'summary' %}"><img src="{% static 'images/GreenOasis_Logo.png' %}"
          height=40 />
        Willkommen!</a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    </nav>

    <main role="main">
      <div align="center">
        <img src="{% static 'images/Plants.jpg' %}" class="round" />
        <h1 class="elegant">Pflanzen Blog</h1>
      </div>
      <br />

      <style>
        .hidden {
          display: none;
        }

        .unhidden {
          display: block;
        }
      </style>
      <script type="text/javascript">
        function unhide(clickedButton, divID) {
          var item = document.getElementById(divID);
          if (item) {
            if (item.className == 'hidden') {
              item.className = 'unhidden';
              clickedButton.value = 'zuklappen'
            } else {
              item.className = 'hidden';
              clickedButton.value = 'Schach'
            }
          }
        }

      </script>



      <br />
      <h2 align=center>Neueste Beiträge</h2>
      <a href="{% url 'store' %}">
        <h4 align=center style="color:goldenrod">Zum Webshop</h4>
      </a>
      <hr>
    </main>

    <div class="container">
      {% for post in blogs.all %}
      <span class='underline'>
        <a href="{{post.id}}" style="color:green">
          <h3 class="elegant">{{post.title}}</h3>
        </a></span><br />
      {{post.pub_date_pretty}}
      <p>{{post.body | linebreaks | truncatewords:100}} </p>
      <!-- 
    <p>{{post.summary}} </p> 
    -->
      <div style="text-align: center;"><img class="img-fluid" src="{{media.url}}/{{post.image}}" width="300"
          height="200">
      </div><br />
      {% endfor %}
      <br />
      <h3>Treten Sie gegen die Plant Community an und beweisen Sie sich in ausgewählten Spielen!</h3>
      <div id="about" class="hidden" align="center">
        <div class="content3">
          <h5>Schach spielen</h5>
          <script src="http://www.startspiele.de/einbinden/schach.jhtm"></script>
        </div>
        <br /><br />
      </div>
      <input type="button" class="btn btn-outline-dark" onclick="unhide(this, 'about') " value="Schach spielen">
      <br />
      Möchten Sie mehr Spiele spielen? Dann besuchen Sie unsere <a href='{% url "games"%}'
        style="color:goldenrod">Spieleseite</a>
    </div> <br />
    <br /><br />
    {% include 'store/footer.html' %}
</body>

</html>