<!DOCTYPE html>
<html lang="de">
{% load static%}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{single_blog.title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}" />

  {% block favicon %}
  <link rel="shortcut icon" href="{% static 'images/GreenOasis0.png' %}" />
  {% endblock %}
</head>

<body>
  <div class="bg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'summary' %}"><img src="{% static 'images/GreenOasis_Logo.png' %}"
          height=40 />
        Willkommen!</a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    </nav>
    <div style="text-align: center;">
      <main role="main">
        <br /><br />
        <h1 class="elegant">{{single_blog.title}}</h1>
        <br /><br />
      </main>
    </div>
    <div class="container">
      <p>{{single_blog.body|linebreaks}} </p>
      <img class="img-fluid" src="{{media.url}}/{{single_blog.image}}" height="200" width="200" /><br />
      <br />
      <a href="{% url 'allblogs' %}" class="btn btn-info" role="button">Blogauswahl</a>
    </div>
  </div>
  <br /><br /><br />
  {% include 'store/footer.html' %}
</body>

</html>