<!DOCTYPE html>
<html lang="de">
{% load static%}

{% block favicon %}
<link rel="shortcut icon" href="{% static 'images/GreenOasis0.png' %}" />
{% endblock %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'summary' %}"><img src="{% static 'images/GreenOasis_Logo.png' %}"
                height=40 />
            Willkommen!</a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
    </nav>
    <title>Spieleseite</title>
</head>

<body>
    <a href="{% url 'allblogs' %}" class="btn btn-success" role="button"><strong>Zurück zum Blog</strong></a>
    <a href="{% url 'store' %}" class="btn btn-success" role="button"><strong>Zum Pflanzen-Shop</strong></a>
    <div align="center">
        <h4>Go</h4>
        <script src="http://www.startspiele.de/einbinden/go.jhtm"></script>
        <br />
        <h4>Sudoku</h4>
        <script src="http://www.startspiele.de/einbinden/sudoku.jhtm"></script>
        <br />
        <!-- Aufgrund der Same Origin Policy nicht genutzt -->
        <!-- <h4>Metal Slug 2nd Mission</h4>
    <iframe src="//www.retrogames.cc/embed/40338-metal-slug-2nd-mission-world-en-ja.html" width="600" height="450"
        frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"
        scrolling="no"></iframe> -->
        <!-- <br /> -->
        <h4>Vier Gewinnt!</h4>
        <script src="http://www.startspiele.de/einbinden/viergewinnt.jhtm"></script>
        <br />
        <h4>Memory</h4>
        <script src="http://www.startspiele.de/einbinden/memory.jhtm"></script>
        <br />
        <h4>Schach</h4>
        <script src="http://www.startspiele.de/einbinden/schach.jhtm"></script>
        <br />
        <h4>9-Ball Pool</h4>
        <script src="http://www.startspiele.de/einbinden/9ball.jhtm"></script>

        <br /><br />
    </div>
    {% include 'store/footer.html' %}

</body>

</html>