{% extends "store/main.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

{% block content %}

<head>
    <meta charset="utf-8">
    <title>Stellen Sie eine Frage</title>
    <link rel="stylesheet" href="{% static 'css/q+a.css' %}">
</head>

<body>
    <div class="content">
        <h1>Stellen Sie eine Frage</h1>
        <p>Type your question below. You can also use Markdown to help format your question.</p>
        <form class="" action="ask-question" method="post">
            {% csrf_token %}
            <input type="text" name="title" value="" autocomplete="off" placeholder="What's your question's title?">
            <p></p>
            <textarea name="question" rows="8" cols="80" placeholder="What's your question?"></textarea>
            <p></p>
            <input type="text" name="posted_by" value="" autocomplete="off" placeholder="Enter your name ...">
            <p></p>
            <input type="submit" name="ask" value="Ask Question">
        </form>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
{% endblock %}

</html>