{% extends "store/main.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

{% block content %}

<head>
    <meta charset="utf-8">
    <title>Fragen und Antworten</title>
    <link rel="stylesheet" href="{% static 'css/q+a.css' %}">
</head>

<body>
    <h1>Fragen & Antworten zur Pflanzenpflege</h1>
    <div>
        Haben Sie selbst eine Frage? <a href="{% url 'askquestion' %}">Frage stellen</a>
    </div>
    <div class="content">
        <div class="nav"></div>
        {% for question in questions %}
        <div class="question">
            <a href="/question/{{ question.qid }}/{{ question.slug }}">
                <h1>{{ question.question_title }}</h1>
            </a>
            <p>{{ question.question_text|truncatechars:300|slice:"-4" }}...</p>
        </div>
        {% endfor %}
    </div>

</body>
{% endblock %}

</html>