{% extends "store/main.html" %}
<!-- extends always needs to be in the first line -->
{% load static %}
<!DOCTYPE html>
<html lang="de" dir="ltr">

<!-- content is written inbetween navbar and footer -->
{% block content %}

<head>
    <meta charset="utf-8">
    <title>{{ question.question_title }} - Fragen & Antworten</title>
    <!-- q+a has its own css file -->
    <link rel="stylesheet" href="{% static 'css/q+a.css' %}">
</head>

<body>
    <div class="content">
        <h1>{{ question.question_title }}</h1>
        <!-- Safe tells Django that it does not have to check the post anymore, as we have already done that with JS and our whitelist -->
        <p>{{ question.question_text|safe }}</p>
        <!-- When and from whom was the question published -->
        <p class="questiondetails"><span style="float: left">Veröffentlicht am: <strong>{{ question.date_posted
                    }}</strong></span><span style="float: right">Erstellt von: <strong>{{ question.posted_by
                    }}</strong></span></p>
        <!-- If answers exist, they are shown below the question -->
        <div id="answers">
            {% for answer in answers %}
            <!-- Again it is already checked/safe and thus Django does not have to recheck it anymore -->
            {{ answer.answer_text|safe }}
            <p class="answerdetails"><span style="float: left">Veröffentlicht am: <strong>{{ answer.date_posted
                        }}</strong></span><span style="float: right">Erstellt von: <strong>{{ answer.posted_by
                        }}</strong></span></p>
            {% endfor %}
        </div>
        <!-- We need a cross site request forgery check -->
        {% csrf_token %}
        <form class="reply" action="" method="post">
            <textarea name="answer" id="answer" rows="8" cols="80" placeholder="What's your answer?"></textarea>
            <p></p>
            <input type="text" id="posted_by" name="posted_by" value="" autocomplete="off"
                placeholder="Enter your name ...">
            <p></p>
            <input type="hidden" id="qid" name="qid" value="{{ question.qid }}">
            <button name="answer_question" id="answer_question">Answer Question</button>
            <!-- </form> -->
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
    </div>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/core.js' %}"></script>
    <script type="text/javascript">
        var csrftoken = getCookie("csrftoken");
    </script>
</body>
{% endblock %}

</html>