{% extends "store/main.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="login">
        <form role="form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form | crispy}}
            <div id="login-errors"></div>
            <div class="form-group">
                <button type="submit" class="button" name="login" value="Login">Anmelden</button>
            </div>
        </form>
        <strong>Sie haben noch keinen Account? Dann können Sie sich <a href="{% url 'signup' %}">hier</a>
            registieren.</strong>
        <br />
    </div>
</div>

{% endblock %}