{% extends "main.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="heading heading--top">My details</h1>
        </div>
    </div>
    <div class="row">
        <div id="account-content" class="col-sm-12 col-lg-10 col-xl-8">
            <div class="row">
                <div id="account-nav" class="col-sm-12 col-md-2">
                    <div class="account-nav-item account-nav-item--underline">
                        <a href="{% url 'account' %}">My details</a>
                    </div>
                    <div class="account-nav-item">
                        <a href="{% url 'account' %}">My orders</a>
                    </div>
                </div>
                <div id="account-address" class="col-sm-12 col-md-5">
                    <h2 class="account-heading">Delivery address</h2>
                    <div class="section-container">
                        <form class="update-form" method="post" action="{% url 'edit_address' user.id %}">
                            {% csrf_token %}
                            <div class="sub-section">
                                <p class="sub-section__heading">{{ form.house_number_name.label }}</p>
                                {{ form.house_number_name.errors }}
                                {{ form.house_number_name }}
                            </div>
                            <div class="sub-section">
                                <p class="sub-section__heading">{{ form.street.label }}</p>
                                {{ form.street.errors }}
                                {{ form.street }}
                            </div>
                            <div class="sub-section">
                                <p class="sub-section__heading">{{ form.town.label }}</p>
                                <p>{{ form.town.errors }}</p>
                                <p>{{ form.town }}</p>
                            </div>
                            <div class="sub-section">
                                <p class="sub-section__heading">{{ form.postcode.label }}</p>
                                <p>{{ form.postcode.errors }}</p>
                                <p>{{ form.postcode }}</p>
                            </div>
                            <button type="submit" class="button">Save</button>
                            <a class="cancel" href="{% url 'account' %}">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}