{% extends "main.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="heading heading--top">My details</h1>
        </div>
    </div>
    <div class="row">
        <div id="account-content" class="col-sm-12 col-lg-10 col-xl-8">
            <div class="row">
                <div id="account-nav" class="col-sm-12 col-md-2">
                    <div class="account-nav-item account-nav-item--underline">
                        <a href="{% url 'account' %}">My details</a>
                    </div>
                    <div class="account-nav-item">
                        <a href="{% url 'account' %}">My orders</a>
                    </div>
                </div>
                <div id="account-details" class="col-sm-12 col-md-5">
                    <h2 class="account-heading">Personal details</h2>
                    <div class="section-container">
                        <form class="update-form" method="post" action="{% url 'edit_details' user.id %}">
                            {% csrf_token %}
                            <div class="sub-section-container">
                                <div class="sub-section">
                                    <p class="sub-section__heading">{{ form.first_name.label }}</p>
                                    {{ form.first_name.errors }}
                                    {{ form.first_name }}
                                </div>
                                <div class="sub-section">
                                    <p class="sub-section__heading">{{ form.last_name.label }}</p>
                                    {{ form.last_name.errors }}
                                    {{ form.last_name }}
                                </div>
                                <div class="sub-section">
                                    <p class="sub-section__heading">{{ form.email.label }}</p>
                                    {{ form.email.errors }}
                                    {{ form.email }}
                                </div>
                                <div class="update-errors">
                                </div>
                                <button type="submit" class="button">Save</button>
                                <a class="cancel" href="{% url 'account' %}">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}