{% extends 'main.html' %}

{% block title %}Passwortänderung erfolgreich{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'password_change' %}">Passwort ändern</a></li>
<li class="breadcrumb-item active">Erfolg!</li>
{% endblock %}

{% block content %}
<div class="alert alert-success" role="alert">
    <strong>Änderung durchgeführt!</strong> Ihr Passwort wurde erfolgreich geändert!
</div>
<a href="{% url 'store' %}" class="btn btn-secondary">Zurück zum Shop</a>
{% endblock %}