{% load i18n %}
{% load static %}
<html lang='de'>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
</head>
<footer class="page-footer text-center font-small green wow fadeIn">
    <!-- Footer -->

    <!-- Grid container -->

    <!-- Section: Form -->
    <section class="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center"
            style="border-top-style: solid;padding-top: 30px;margin-bottom: -30px;">
            <!--Grid column-->
            <div class="col-auto">
                <p class="pt-2">
                    <strong>Melden Sie sich für unseren Newsletter an</strong>
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 col-12">
                <!-- Email input -->

                <div class="form-outline form-white mb-4">
                    <form action="{% url 'new' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ email }}
                        <input type="email" id="form5Example2" placeholder="Ihre E-Mail-Adresse" class="form-control" />
                        {{ form.email }}
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto">
                <!-- Submit button -->
                <button type="submit" class="btn btn-outline-light mb-3" style="margin-top: 0px;left: -20px">
                    {% trans 'Subscribe' %}
                </button>
                </form>
                <div class="col-12">
                    {% if email %}
                    <p>{{ email }} has been {{ action }}.</p>
                    {% endif %}
                </div>
                <br />
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
        </form>
    </section>
    <!-- Section: Form -->
    <div class="container p-3">
        <!-- Section: Social media + Blog -->
        <section class="mb-4">

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="{% url 'allblogs' %}" role="button"><i
                    class="fab fa-blogger"></i></a>

            <!-- Git (Yeah, it is GitLab not GitHub) -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://gitlab.com/GameOver404/greenoasis"
                role="button"><i class="fab fa-github"></i></a>

            <!-- Q&A -->
            <a class="btn btn-outline-light btn-floating m-1" href="{% url 'questions' %}" role="button">
                <i class="fas fa-question-circle"></i></a>

            <!-- Advertisement / Summary -->
            <a class="btn btn-outline-light btn-floating m-1" href="{% url 'summary' %}" role="button"><i
                    class="fas fa-bullhorn"></i></a>

        </section>
        <!-- Section: Social media + Blog -->


        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <strong>
                        <a href="{% url 'about_us' %}">
                            <h9 class="text-uppercase">Über uns</h9>
                        </a>
                    </strong>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <strong>
                        <a href="{% url 'contact'%}">
                            <h9 class="text-uppercase">Kontaktieren Sie uns</h9>
                        </a>
                    </strong>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <strong>
                        <a href="{% url 'privacy_policy' %}">
                            <h9 class="text-uppercase">Datenschutzrichtline</h9>
                        </a> &
                        <a href="{% url 'shipping_policy' %}">
                            <h9 class="text-uppercase">Versandpolitik</h9>
                        </a>
                    </strong>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <strong>
                        <a href="{% url 'terms_of_service' %}">
                            <h9 class="text-uppercase">Servicebedingungen</h9>
                        </a>
                    </strong>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href='/'>GreenOasis</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

</html>