{% load i18n %}
{% load static %}
<html lang='de'>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
</head>

<!-- The footer from base.html had to excluded as somehow the address was displayed in the footer - even without any code present in this HTML file -->
<footer class="page-footer text-center font-small green wow fadeIn">
    <!-- Footer -->

    <div class="container p-3">
        <!-- Section: Social media + Blog -->
        <section class="mb-4">

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="{% url 'allblogs' %}" role="button"><i
                    class="fab fa-blogger"></i></a>


            <!-- Git (Yeah, it is GitLab not GitHub) -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://gitlab.com/GameOver404/greenoasis"
                role="button"><i class="fab fa-github"></i></a>

            <!-- Q&A -->
            <a class="btn btn-outline-light btn-floating m-1" href="{% url 'questions' %}" role="button">
                <i class="fas fa-question-circle"></i></a>

            <!-- Advertisement / Summary -->
            <a class="btn btn-outline-light btn-floating m-1" href="{% url 'summary' %}" role="button"><i
                    class="fas fa-bullhorn"></i></a>
        </section>
        <!-- Section: Social media + Blog -->


        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <strong>
                        <a href="{% url 'about_us' %}">
                            <h9 class="text-uppercase">Über uns</h9>
                        </a>
                    </strong>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <strong>
                        <a href="{% url 'contact'%}">
                            <h9 class="text-uppercase">Kontaktieren Sie uns</h9>
                        </a>
                    </strong>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <strong>
                        <a href="{% url 'privacy_policy' %}">
                            <h9 class="text-uppercase">Datenschutzbestimmungen</h9>
                        </a> &
                        <a href="{% url 'shipping_policy' %}">
                            <h9 class="text-uppercase">Versandpolitik</h9>
                        </a>
                    </strong>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <strong>
                        <a href="{% url 'terms_of_service' %}">
                            <h9 class="text-uppercase">Servicebedingungen</h9>
                        </a>
                    </strong>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href='/'>GreenOasis</a>
    </div>
    <!-- Copyright -->
</footer>