{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'store' %}"><img src="{% static 'images/GreenOasis_Logo.png' %}" width=90
            height=80 /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item" style="color:white">
            {% for category in cat %}
            <strong style="color:white;"> {{category}} </strong>

        </li>
        {% endfor %}
    </ul>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if request.user.is_authenticated and request.user.is_staff %}
            <li class="nav-item" style="color:white">
                <a class="nav-link waves-effect" href="{% url 'admin:index' %}">
                    <i class="fas fa-tools white-text"></i>
                    <strong style="color:white;"> Admin </strong>
                </a>
            </li>
        </ul>
        {% else %}
        <li class="nav-item" style="color:white">
            <a class="nav-link waves-effect" href="{% url 'store' %}">
                <i class="fas fa-shopping-bag"></i>
                <strong style="color:white;"> Shop </strong>
            </a>
        </li>
        </ul>
        {% endif %}
        {% if request.user.is_authenticated %}
        <div class="form-inline my-2 my-lg-0">
            <a href="{% url 'logout' %}" class="nav-link waves-effect"><i class="fas fa-sign-out-alt white-text">
                    Abmelden</a></i>
            {% else %}
            <div class="form-inline my-2 my-lg-0">
                <a href="{% url 'login' %}" class="nav-link waves-effect"> <i class="fas fa-user white-text">
                        Anmelden</i></a>
                {% endif%}

                <a href="{% url 'cart' %}">
                    <img id="cart-icon" src="{% static 'images/cart.png' %}">
                </a>
                <p id="cart-total">{{cartItems}}</p>

            </div>
        </div>
</nav>