{% extends 'main.html' %}

{% block title %}Change password{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Passwort ändern</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'form.html' %}
            <button type="submit" class="btn btn-success">Passwort ändern</button>
        </form>
    </div>
</div>
{% endblock %}