{% extends 'store/main.html' %}
{% load static %}
{% block content %}


<div class="row">
	{% for product in products %}
	<div class="col-lg-3">
		<img class="thumbnail" src="{{product.imageURL}}">
		<div class="box-element product">
			<h6><strong>{{product.name}}</strong></h6>

			<button data-product="{{product.id}}" data-action="add"
				class="btn btn-outline-secondary add-btn update-cart">Zum Warenkorb hinzufügen</button>

			<a class="btn btn-outline-success" href="#">Ansehen</a>
			<h4 style="display: inline-block;"><strong>{{product.price}}€</strong></h4>

		</div>
	</div>
	{% endfor %}
</div>

{% endblock content %}