{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<div id="account-details" class="col-sm-12 col-md-5">
    <h2 class="account-heading">Personal details</h2>
    <div class="section-container">
        <form class="update-form" method="post" action="{% url 'edit_details' user.id %}">
            {% csrf_token %}
            <div class="sub-section-container">
                <div class="sub-section">
                    <p class="sub-section__heading">{{ form.first_name.label }}</p>
                    {{ form.first_name.errors }}
                    {{ form.first_name }}
                </div>
                <div class="sub-section">
                    <p class="sub-section__heading">{{ form.last_name.label }}</p>
                    {{ form.last_name.errors }}
                    {{ form.last_name }}
                </div>
                <div class="sub-section">
                    <p class="sub-section__heading">{{ form.email.label }}</p>
                    {{ form.email.errors }}
                    {{ form.email }}
                </div>
                <div class="update-errors">
                </div>
                <button type="submit" class="button">Speichern</button>
                <a class="cancel" href="{% url 'account' %}">Abbrechen</a>
            </div>
        </form>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}