{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<div id="account-details" class="col-sm-12 col-md-5">
    <h2 class="account-heading">Personal details</h2>
    <div class="section-container">
        <div class="sub-section-container">
            <div class="sub-section">
                <p class="sub-section__heading">Name</p>
                <p>{{ user.first_name }} {{ user.last_name }}</p>
            </div>
            <div class="sub-section">
                <p class="sub-section__heading">Email</p>
                <p>{{ user.email }}</p>
            </div>
            <a href="#" class="button">Update details</a>
        </div>
        <div class="sub-section-container">
            <div class="sub-section sub-section-password">
                <p class="sub-section__heading">Password</p>
                <p>***********</p>
            </div>
            <a href="#" class="button">Update password</a>
        </div>
    </div>
</div>
{% if address %}
<div id="account-address" class="col-sm-12 col-md-5">
    <h2 class="account-heading">Rechnungsadresse</h2>
    <div class="section-container">
        <div class="sub-section">
            <p class="sub-section__heading">Straße+Hausnummer</p>
            <p>{{ address.adress }}</p>
        </div>
        <div class="sub-section">
            <p class="sub-section__heading">Town</p>
            <p>{{ address.city }}</p>
        </div>
        <div class="sub-section">
            <p class="sub-section__heading">Postcode</p>
            <p>{{ address.zipcode }}</p>
        </div>
        <a href="{% url 'edit_address' user.id %}" class="button">Update address</a>
    </div>
</div>
{% endif %}
</div>
</div>
</div>
{% endblock %}