{% extends 'store/main.html' %}
{% load crispy_forms_tags %}

<html lang="de">
{% block content %}
<h2>Registrierung</h2>
<form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit">Register</button>
    <br><br>
    <a href="{% url 'store' %}">Home</a>
</form>
{% endblock content %}

</html>