input[type="text"] {
    width: 500px;
    height: 30px;
    font-size: 16px;
    outline: none;
    padding: 0px 5px;
    border: 1px solid #CCC;
}

input[type="submit"],
button {
    font-size: 16px;
}

textarea {
    width: 500px;
    font-size: 16px;
    padding: 5px;
    outline: none;
    border: 1px solid #CCC;
}

.content {
    width: 50%;
}

.error {
    background-color: #ffbebe;
    border: 1px solid #ff9a9a;
    padding: 5px;
}

.questiondetails {
    background-color: #f1f1f1;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 5px;
    height: 20px;
}

.answerdetails {
    background-color: #fafafa;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding: 5px;
    height: 20px;
    margin: 0px 0px 5px 0px;
    font-style: italic;
}

.question {
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
}

.answer {
    padding: 5px;
    margin: 0px;
}

.question h1 {
    font-size: 22px;
    margin: 0px;
}

.question p {
    margin: 0px;
}

.reply {
    margin-top: 20px;
}