{% extends 'store/main.html' %}
{% load static %}
{% load i18n %}

{% block favicon %}
<link rel="shortcut icon" href="{% static 'images/GreenOasis0.png' %}" />
{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" media="screen" />

{% block content %}

<div class="container-fluid">
    <div class="container wow fadeIn">
        <h3>{% trans "Privacy Policy" %} - Datenschutzrichtlinie</h3>
        <div>
            <p>
                <strong>1. Unser Versprechen</strong><br />
                Wir verpflichten uns, die Privatsphäre des Einzelnen in Bezug auf personenbezogene Daten zu schützen.
                Wir
                stellen daher sicher, dass unsere Richtlinien und Praktiken in Bezug auf die Erhebung, Verwendung,
                Aufbewahrung, Übertragung und den Zugriff auf personenbezogene Daten den Anforderungen der
                Datenschutz-Grundverordnung (DSGVO) entsprechen. Mit dem Zugriff und der Nutzung unserer Website
                GreenOasis.de erklären Sie sich mit diesen Datenschutzbestimmungen einverstanden. Wenn Sie damit nicht
                einverstanden sind, müssen Sie Ihren Account und die Nutzung dieser Website einstellen.
            </p>
            <p>
                <strong>2. Erfassung personenbezogener Daten</strong><br />
                Wenn Sie unsere Webseite besuchen, zeichnen wir nur Ihren Besuch auf und sammeln keine personenbezogenen
                Daten (d. h. Informationen, die Sie betreffen und Sie identifizieren), sofern nicht anders
                angegeben. Cookies, die (falls vorhanden) in irgendeinem Teil unserer Website verwendet werden,
                werden nicht zum Sammeln von personenbezogenen Daten eingesetzt. Zu Ihrer Information: Cookies sind
                kleine
                Computerdateien, die auf den Computern von Web-Surfern gespeichert werden können, um
                Konfigurationsinformationen zu erhalten und die Nutzungsgewohnheiten von Web-Surfern zu analysieren.
                Sie können Ihnen bspw. eine erneute Registrierung ersparen, wenn Sie eine Website erneut
                besuchen, und werden üblicherweise verwendet um Ihre Präferenzen in Bezug auf das Thema der Website zu
                verfolgen. Sie können die Annahme von Cookies verweigern (indem Sie die entsprechenden Internetoptionen
                oder
                Browser-Einstellungen Ihres Computersystems ändern), aber wenn Sie dies tun, können Sie möglicherweise
                bestimmte verfügbare Funktionen auf unseren Websites nicht nutzen oder aktivieren.
            </p>
            <p>
                <strong>3. Arten der gesammelten personenbezogenen Daten</strong><br />
                Gelegentlich werden Sie aufgefordert, Ihre persönlichen Daten anzugeben, einschließlich, aber nicht
                beschränkt auf Ihren Namen, Ihr Geschlecht, Ihr Alter, die Nummer Ihres Ausweises, Ihre Telefonnummer,
                Ihre
                Faxnummer, Ihre Privatadresse, Ihre E-Mail-Adresse, Ihre Kreditkartendaten, Ihre Interessen usw. Die
                Verweigerung der Angabe solcher Informationen kann dazu führen, dass Ihnen der Zugang zu bestimmten
                Teilen
                unserer Website verwehrt wird, oder dass wir nicht in der Lage sind, die von Ihnen gestellten Anträge
                oder
                Anfragen zu bearbeiten, oder dass die Ziele Ihres Besuchs anderweitig vereitelt werden.
            </p>
            <p>
                <strong>4. Sicherheit</strong><br />
                Alle persönlichen Daten, die Sie uns zur Verfügung stellen, werden auf unserer Website gesichert und
                sind
                nur für autorisiertes Personal zugänglich. Unser Online-Registrierungsprozess verwendet die
                SSL-Protokollverbindung für die Datenübertragung, um Ihre Daten durch Verschlüsselung in einem sicheren
                Format zu schützen, damit ihre Privatsphäre gewahrt bleibt.
            </p>
            <p>
                <strong>5. Erklärung zur Erhebung persönlicher Daten</strong><br />
                Als GreenOasis-Kunde kann es erforderlich sein, dass Sie uns Ihre personenbezogenen Daten zur Verfügung
                stellen,
                wenn Sie sich bei uns für eine Dienstleistung und / oder ein Produkt anmelden oder wenn Sie Produkte
                kaufen.
                Wenn Ihre Persönlichen Daten unvollständig oder falsch sind, können wir Ihnen die Dienstleistungen
                möglicherweise nicht anbieten oder weiterhin anbieten.
            </p>
            <p>
                6. Wir werden Ihre persönlichen Daten jederzeit vertraulich behandeln. Unsere Richtlinien und Praktiken
                in
                Bezug auf die Sammlung, Verwendung, Aufbewahrung, Offenlegung, Übertragung, Sicherheit und den Zugriff
                auf
                Persönliche Daten werden in Übereinstimmung mit den Gesetzen der DSGVO sein.
            </p>
            <p>
                7. Sie erklären sich damit einverstanden, dass Ihre persönlichen Daten, die Sie uns zur Verfügung
                gestellt
                haben, von uns für die folgenden Zwecke und für andere Zwecke, die zwischen Ihnen und uns vereinbart
                werden
                oder von Zeit zu Zeit gesetzlich vorgeschrieben sind, verwendet und gespeichert werden dürfen:<br />
                * Breitstellung der Dienste;<br />
                * mVermarktung von Waren und/oder Dienstleistungen durch uns im Zusammenhang mit den Diensten und
                Vermarktung jeglicher Waren und/oder Dienstleistungen durch uns oder unsere angeschlossenen oder
                verbundenen
                Unternehmen;<br />
                * Bearbeitung von Leistungen, die sich aus oder im Zusammenhang mit den Diensten ergeben;<br />
                * Analyse, Verifizierung und/oder Überprüfung Ihres Kredits, Ihrer Zahlung und/oder Ihres Status in
                Bezug
                auf die Bereitstellung des Servicees;<br />
                * Verarbeitung von Zahlungsanweisungen; und * Ermöglichung der Einhaltung unserer Verpflichtungen zur
                Zusammenschaltung oder anderer Branchenpraktiken.
            </p>
            <p>
                8.Sie erklären sich ferner damit einverstanden, dass wir unsere Daten (ob in Hongkong oder im Ausland)
                an
                unsere Vertreter Auftragnehmern, Telekommunikationsanbietern, dritten Inkassounternehmen,
                Kreditauskunfteien
                Auskunfteien, Sicherheitsagenturen, Kreditgebern, Banken, Finanzinstituten, anderen Personen Personen,
                die
                uns gegenüber zur Vertraulichkeit verpflichtet sind, unsere verbundenen oder assoziierten Unternehmen
                und
                alle unsere tatsächlichen oder Abtretungsempfänger oder Übernehmer unserer Rechte in Bezug auf Sie zu
                nutzen, offenzulegen, zu halten, zu verarbeiten, zu behalten oder Übertragung dieser personenbezogenen
                Daten
                für die oben genannten Zwecke.
            </p>
            <p>
                9. Aufbewahrung der Informationen: Bei Ihren Geschäften mit uns bewahren wir Aufzeichnungen über Ihre
                Online-Transaktionen für Prüfungszwecken. Unsere allgemeine Politik ist es, die Informationen für einen
                angemessenen Zeitraum aufzubewahren. Zugang zu und Korrektur von Informationen sind in Übereinstimmung
                mit
                den Gesetzen (DSGVO möglich):<br />
                * zu überprüfen, ob wir irgendwelche Ihrer persönlichen Daten speichern;<br />
                * auf Ihre bei uns gespeicherten persönlichen Daten zuzugreifen;<br />
                * von uns zu verlangen, dass wir persönliche Daten korrigieren, die unrichtig sind;<br />
                * unsere Richtlinien und Praktiken (von Zeit zu Zeit) in Bezug auf personenbezogene Daten und die Arten
                von
                Persönliche Daten, die von uns gehalten werden.
            </p>
            <p>
                10. Sollten Sie online Fragen zu unserer Datenschutzerklärung haben, wenden Sie sich bitte an unseren
                Kundenservice.<br />
                GreenOasis<br />
                Hier würde unsere Adresse stehen.<br />
            </p>
            <p>
                11. In Übereinstimmung mit der Verordnung haben wir das Recht, Ihnen eine angemessene Gebühr für die
                Bearbeitung eines Antrags auf Zugang zu personenbezogenen Daten zu berechnen.
            </p>
            <p>
                12. Nichts in dieser Datenschutzrichtlinie schränkt Ihre Rechte gemäß der Verordnung ein.
            </p>
        </div>
    </div>
</div>
<br />
{% endblock content %}