{% extends 'store/main.html' %}
{% load static %}
{% load i18n %}


{% block favicon %}
<link rel="shortcut icon" href="{% static 'images/GreenOasis0.png' %}" />
{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" media="screen" />

{% block content %}

<div class="container-fluid">
    <div class="container wow fadeIn">
        <h3>{% trans "Shipping Policy" %}</h3>
        <h4>{% trans "Terms and Conditions for Purchase:" %}</h4>
        <div>
            <h6> Versandbedingungen </h6>

            Vielen Dank für Ihren Besuch und Ihren Einkauf bei GreenOasis. Nachfolgend finden Sie die
            Bedingungen, die unsere Versandpolitik ausmachen.

            <h6>Inländische Versandbedingungen </h6>

            <h8>Bearbeitungszeit der Sendung </h8>

            Alle Bestellungen werden innerhalb von 2-3 Werktagen bearbeitet. Bestellungen werden nicht an Wochenenden
            oder Feiertagen versandt oder geliefert. Zum Wohl der Pflanzen wird bei einer Bestellung die Pflanzen
            beinhält überdies nur von Montag-Mittwoch geliefert.

            Wenn wir ein hohes Auftragsvolumen haben, kann sich der Versand um ein paar Tage verzögern. Bitte
            kalkulieren Sie zusätzliche Tage für die Zustellung ein. Sollte sich der Versand Ihrer Bestellung erheblich
            verzögern, werden wir Sie per E-Mail oder Telefon kontaktieren.

            <h6>Versandtarife & geschätzte Lieferzeiten </h6>

            Die Versandkosten für Ihre Bestellung werden an der Kasse berechnet und angezeigt.

            Es kann gelegentlich zu Lieferverzögerungen kommen.

            Aktualisieren Sie diesen Abschnitt basierend auf den von Ihnen unterstützten Transportunternehmen.

            Versand an Postfächer oder APO/FPO-Adressen

            GreenOasis versendet an Adressen innerhalb von Deutschland und Österreich.

            Die Lieferungen werden nicht an PO-Boxen geliefert.

            <h6> Versandbestätigung & Auftragsverfolgung </h6>

            Sie erhalten eine Versandbestätigung per E-Mail, sobald Ihre Bestellung versandt wurde, die Ihre
            Tracking-Nummer(n) enthält. Die Tracking-Nummer wird innerhalb von spätestens 24 Stunden aktiv.

            <h6> Zoll, Zölle und Steuern </h6>

            My Website (change this) ist nicht verantwortlich für jegliche Zölle und Steuern, die auf Ihre Bestellung
            erhoben werden. Alle Gebühren, die während oder nach dem Versand erhoben werden, liegen in der Verantwortung
            des Kunden (Steuern, etc.).

            <h6> Beschädigungen </h6>

            GreenOasis ist nicht haftbar für Produkte, die während des Versands beschädigt wurden oder verloren gegangen
            sind. Wenn Sie Ihre Bestellung beschädigt erhalten haben, wenden Sie sich bitte an das Versandunternehmen,
            um eine Reklamation einzureichen.

            Bitte bewahren Sie alle Verpackungsmaterialien und beschädigten Waren auf, bevor Sie eine Reklamation
            einreichen.

            <h6> Internationale Versandrichtlinien </h6>

            Wir versenden derzeit außerhalb Deutschlands lediglich nach Österreich. Die Versandzeiten gelten sowohl für
            Deutschland, als auch für Österreich.

            </h6> Rückgabe-Richtlinien </h6>
            Eine Rückgabe ist innerhalb von 14-Tagen gemäß dem Fernabsatzgesetz möglich.
        </div>
    </div>
</div>
<br /><br />
{% endblock content %}