{% extends 'store/main.html' %}
{% load static %}
{% block favicon %}
<link rel="shortcut icon" href="{% static 'images/GreenOasis0.png' %}" />
{% endblock %}

<!DOCTYPE html>
<html style="font-size: 16px;">

<head>

  <meta charset="utf-8">
  <meta name="keywords" content="Turning Over a New Leaf, Plant Shop, GreenOasis">
  <title>GreenOasis</title>
  <script class="u-script" type="text/javascript" src="{% static 'js/jquery.js' %}" defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "GreenOasis",
		"url": "summary.html"
}</script>
  <meta property="og:title" content="GreenOasis">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
</head>

{% block content %}

<body data-home-page="summary.html" data-home-page-title="GreenOasis" class="u-body">
  <div class="container wow fadeIn">
    <section class="u-clearfix u-section-1" id="sec-81b0">
      <img src="{% static 'images/pexelsphoto807598.jpeg' %}" alt=""
        class="u-expanded-height u-image u-image-default u-image-1" width=1060 height=720>
      <img src="{% static 'images/01.png' %}" alt="" class="u-expanded-height u-image u-image-default u-image-1">
      <div class="u-container-style u-group u-group-1">
        <div class="u-container-layout u-valign-middle-xs u-container-layout-1">
          <h1 class="u-text u-text-body-alt-color u-title u-text-1">Machen Sie Ihr zu Hause zur grünen Oase</span>
          </h1>
          <p class="u-align-right u-text u-text-body-alt-color u-text-2">Egal, ob Sie Ihre erste Pflanze mit nach Hause
            bringen oder einfach nur ein Pflanzgefäße für Ihren neuesten Fund brauchen, wir haben die neuesten Waren und
            das Know-how, um Sie zu befähigen, Ihre Pflanzen wachsen und gedeihen zu sehen!</p>
          <a href="/" class="u-link u-text-body-alt-color u-link-1" style="color:goldenrod">Zum
            Webshop</a>
        </div>
      </div>
      <br />
    </section>
    <section class="u-clearfix u-palette-5-light-3 u-section-2" id="sec-1be2">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1">
              <div class="u-container-layout"></div>
            </div>
            <div class="u-container-style u-image u-layout-cell u-size-20 u-image-2" data-image-width="1280"
              data-image-height="833">
              <div class="u-container-layout"></div>
            </div>
            <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-3">
              <div class="u-container-layout">
                <div class="u-border-3 u-border-palette-3-base u-line u-line-horizontal u-line-1"></div>
                <h3 class="u-align-left u-text u-text-1">Pflanzen.<br>Pflanzen-Zubehör<br>&amp; Mehr
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-0b27">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout">
                  <h2 class="u-text u-text-1">Pflanzen Blog</h2>
                  <p class="u-text u-text-palette-4-dark-2 u-text-2">Sehen Sie sich unseren Blog an, um mehr über die
                    Pflege von Pflanzen, deren BedÃ¼rfnisse, aktuelle Erkenntnisse sowie interessante Fakten zu Indoor-
                    sowie Outdoor-Pflanzen zu erhalten.&nbsp;<br>
                    <br>Ãœberdies informieren wir Sie auch Ã¼ber eigene Kreuzungen und sprechen über das Thema
                    Raumgestaltung.&nbsp;<br>
                    <br>Werden Sie Teil unserer Community und profitieren Sie von exclusiven Online-Informationsabenden
                    sowie anschließenden Plant-Talks, in welchen Sie frei über die Themen reden können, welche Ihnen am
                    Herzen liegen.&nbsp;<br>
                    <br>Wir heißen Sie herzlich willkommen und freuen uns auf ein regen Austausch!
                  </p>
                  <a href="{% url 'allblogs' %}" class="u-link u-text-body-color u-link-1" style="color:goldenrod">Zu
                    unserem Blog</a><br /><br />
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout">
                  <img class="u-expanded-width u-image u-image-1" src="{% static 'images/bench.jpeg' %}" width=1200
                    height=750>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="{% static 'images/02.png' %}" alt=""
          class="u-image u-image-contain u-image-default u-opacity u-opacity-45 u-image-2" data-image-width="468"
          data-image-height="306">
      </div>
    </section>
    <section class="u-clearfix u-palette-5-light-3 u-section-4" id="carousel_9799">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1">
              <div class="u-container-layout"></div>
            </div>
            <div class="u-container-style u-image u-layout-cell u-size-20 u-image-2" data-image-width="1127"
              data-image-height="750">
              <div class="u-container-layout"></div>
            </div>
            <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-3">
              <div class="u-container-layout u-container-layout-3"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-align-right u-container-style u-group u-group-1">
        <div class="u-container-layout u-container-layout-4">
          <h3 class="u-text u-text-1">Pflanzen,&nbsp;<br>Pflege &amp; Raumgestaltung
          </h3>
          <div class="u-border-3 u-border-palette-3-base u-line u-line-horizontal u-line-1"></div>
          <p class="u-text u-text-palette-4-dark-2 u-text-2">GreenOasis bietet neben dem Verkauf von Pflanzen (Online
            und Vorort) eine Beratung zur Pflege. Auch Anfragen bzgl. Raumgestaltung werden angenommen.
        </div>
      </div>
    </section>
    <section class="u-clearfix u-valign-top u-section-5" id="carousel_612c">
      <img src="{% static 'images/pexelsphoto3571563.jpeg' %}" alt=""
        class="u-expanded-height-lg u-expanded-height-md u-expanded-height-xl u-image u-image-default u-image-1"
        width=1200 height=800>
      <img src="{% static 'images/3.png' %}" alt=""
        class="u-image u-image-contain u-image-default u-opacity u-opacity-85 u-image-2" data-image-width="231"
        data-image-height="306">
      <div class="u-container-style u-custom-color-2 u-group u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h2 class="u-text u-text-1">Unser Pflanzen Shop vor Ort</h2>
          <p class="u-text u-text-2">Wir freuen uns darauf, Sie kennen zu lernen &amp; unser Wissen darüber zu teilen,
            welche Pflanzen am besten für Ihr Zuhause und Ihre Arbeitsumgebung geeignet sind.</p><br />
          <a href="{% url 'contact' %}" style="color:goldenrod">Nehmen Sie Kontakt mit uns auf!</a><br /><br /><br />
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-5-light-3 u-section-6" id="carousel_3d25">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1" data-image-width="1280"
              data-image-height="720">
              <div class="u-container-layout"></div>
            </div>
            <div class="u-container-style u-image u-layout-cell u-size-20 u-image-2" data-image-width="1280"
              data-image-height="853">
              <div class="u-container-layout"></div>
            </div>
            <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-3">
              <div class="u-container-layout u-container-layout-3">
                <div class="u-border-3 u-border-palette-3-base u-line u-line-horizontal u-line-1"></div>
                <h3 class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-1">(+49)
                  06357-80912&nbsp;<br><a href='mailto:GreenOasis.Pflanzen@gmail.com'
                    style='color:goldenrod'>GreenOasis.Pflanzen@gmail.com</a>
                  <br>Hinter den Häusern 37<br>67587 Wintersheim,
                  Deutschland
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </section>
  {% endblock %}
</body>

</html>