{% extends 'store/main.html' %}
{% load static %}
{% load i18n %}

{% block favicon %}
<link rel="shortcut icon" href="{% static 'images/GreenOasis0.png' %}" />
{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" media="screen" />

{% block content %}

<div class="container-fluid">
    <div class="container wow fadeIn">
        <h3>{% trans "Terms of Service" %}</h3>
        <div>
            <p>
                <strong>1. Anwendung</strong><br />
                Dieser Hinweis gilt für:<br />
                1. die Nutzung von mshwines.com;<br />
                2. alle Informationen, die auf diesem oder einem anderen Server von mshwines.com gespeichert sind oder
                darüber empfangen werden können ("Informationen").
            </p>
            <p>
                <strong>2. Copyright</strong><br />
                Die Informationen können durch Gesetze und Rechte zum Schutz des geistigen Eigentums geschützt sein
                (einschließlich, aber nicht beschränkt auf Gesetze zum Schutz des Urheberrechts). Wenn der Benutzer die
                Informationen ohne die Zustimmung des Eigentümers solcher Rechte herunterlädt, kopiert, überträgt,
                veröffentlicht, speichert oder anderweitig verwendet, kann der Benutzer solche Gesetze oder Rechte
                verletzen. Es liegt in der Verantwortung des Benutzers, festzustellen, ob eine solche Verletzung
                ("Copyright-Verletzung") vorliegt.
            </p>
            <p>
                <strong>3. Allgemeiner Haftungsausschluss</strong><br />
                GreenOasis lehnt ausdrücklich jede Verantwortung, Darstellung oder Garantie ab:<br />
                1. in Bezug auf die Qualität, den Betrieb, die Nutzung, die Genauigkeit oder die Aktualität von
                Zweck von mshwines.com oder der Informationen;<br />
                2. in Bezug auf jegliche Waren oder Dienstleistungen, auf die über mshwines.com oder gemäß den
                Informationen
                zugegriffen wird, die angeboten oder erhalten werden
                der Informationen;<br />
                3. dass jeglicher Zugriff auf mshwines.com oder die Informationen ununterbrochen oder fehlerfrei sein
                wird
                oder dass die Informationen keine Viren oder kontaminierenden oder zerstörerischen Eigenschaften
                enthalten;<br />
                4. dass die Informationen für den Benutzer oder eine andere Person nicht anstößig oder beleidigend sein
                werden;
            </p>
            <p>
                <strong>4. Websites von Drittanbietern</strong><br />
                GreenOasis.de kann von Dritten produziertes Material oder Links zu anderen Websites enthalten.
                GreenOasis
                übernimmt keine Verantwortung oder Haftung in Bezug auf solche Materialien Dritter oder für den Betrieb
                oder
                den Inhalt anderer Websites (ob mit GreenOasis.de verlinkt oder nicht), die nicht unter der direkten
                Kontrolle von GreenOasis stehen. GreenOasis behält sich das Recht vor, die Entfernung eines Links von
                einer
                anderen Website zu GreenOasis.de zu verlangen, der ohne vorherige schriftliche Zustimmung von MSH wines
                installiert wurde.
            </p>
            <p>
                <strong>5. Haftungsbeschränkung</strong><br />
                GreenOasis haftet weder gegenüber dem Nutzer noch gegenüber einer anderen Person, sei es aus unerlaubter
                Handlung, Vertrag, Gesetz (einschließlich und ohne Einschränkung für Fahrlässigkeit, Vertragsbruch,
                Verleumdung oder Verletzung von Eigentumsrechten) für:<br />
                1. jeglichen direkten Verlust;<br />
                2. jegliche Folgeschäden oder indirekte Verluste (einschließlich, aber nicht beschränkt auf entgangene
                Einnahmen oder Gewinne);<br />
                3. die Haftung des Nutzers gegenüber einer anderen Person, die der Nutzer oder eine andere Person
                erleidet
                oder die unter oder in irgendeiner Weise aus der Nutzung der Informationen von GreenOasis.de entstehen.
            </p>
            <p>
                <strong>6. Vertraulichkeit</strong><br />
                Greenoasis garantiert nicht (und übernimmt keine Verantwortung) für die Vertraulichkeit jeglicher
                Informationen oder Daten, ob persönlich oder anderweitig über GreenOasis.de übermittelt. Die derzeitige
                Praxis von GreenOasis ist es, angemessene Schritte zur Wahrung der Vertraulichkeit zu unternehmen.
            </p>
            <p>
                <strong>7. Verfügbarkeit und Nachhaltigkeit der Services</strong><br />
                GreenOasis garantiert nicht, dass die auf GreenOasis.de enthaltenen Informationen oder Materialien
                aktuell
                oder korrekt sind oder dass die auf mshwines.de vorgestellten Produkte oder Dienstleistungen verfügbar
                sind.
                GreenOasis kann die Materialien, die auf GreenOasis.de erscheinen, jederzeit ohne Vorankündigung ändern.
            </p>
            <p>
                <strong>8. Verpflichtungen des Benutzers</strong><br />
                Als Gegenleistung dafür, dass GreenOasis dem Benutzer den Zugang zu den Informationen und / oder
                GreenOasis.d ermöglicht, erklärt sich der Benutzer:<br />
                1. keine Urheberrechtsverletzungen vorzunehmen oder diese zuzulassen;<br />
                2. die Informationen oder den Zugang des Benutzers zu GreenOasis.de nicht für irgendwelche illegalen,
                unangemessenen, obszönen oder diffamierenden Zweck(e) zu verwenden;<br />
                3. alle Maßnahmen zu ergreifen, um sicherzustellen, dass die Informationen keine Schäden an den
                Informationen oder Systemen des Benutzers verursachen;<br />
                4. sicherzustellen, dass alle Informationen, die Sie GreenOasis.de zur Verfügung stellen, nach bestem
                Wissen
                und Gewissen wahrheitsgemäß und genau sind;<br />
                5. an Greenoasis, die den Zugang zu den Informationen recherchieren;<br />
                6. zu allen Haftungsausschlüssen und -beschränkungen von GreenOasis, die in diesem Hinweis aufgeführt
                sind;
                und<br />
                7. die jeweils gültigen Datenschutzrichtlinien von Greenoasis zu beachten.
            </p>
            <p>
                <strong>9. Schadensersatz</strong><br />
                Der Nutzer erklärt sich damit einverstanden, GreenOasis von allen Verlusten, Schäden, Ansprüchen,
                Forderungen, Haftungen, Kosten (einschließlich Rechtskosten) und Ausgaben im Zusammenhang mit Ihrer
                Nutzung
                von GreenOasis bei Verstoß gegen die hierin enthaltenen Bedingungen oder bei Fahrlässigkeit schadlos zu
                halten und zu entschädigen.
            </p>
            <p>
                <strong>10. Recht und Trennbarkeit</strong><br />
                Die DSGVO regelt diesen Hinweis, und jeder Teil dieses Hinweises gilt in dem dadurch erlaubten Umfang.
                Jeder
                Teil dieses Hinweises, der in einer Rechtsordnung verboten oder nicht durchsetzbar ist, ist in Bezug auf
                diese Rechtsordnung nur in dem Umfang des Verbots oder der Nichtdurchsetzbarkeit unwirksam. Dadurch
                werden
                weder die übrigen Teile dieses Hinweises ungültig noch wird die Gültigkeit oder Durchsetzbarkeit dieses
                Teils in einer anderen Rechtsordnung beeinträchtigt. Diese Version ist immer dann maßgebend, wenn es
                eine
                Diskrepanz zwischen den beiden Versionen gibt.
            </p>
        </div>
    </div>
</div>
<br />
{% endblock content %}