{% extends "store/main.html" %}
{% load static %}
{% block favicon %}
<link rel="shortcut icon" href="{% static 'images/GreenOasis0.png' %}" />
{% endblock %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container wow fadeIn">
    <br />
    <h1 align="center">Schreiben Sie uns</h1><br />

    <form action="" method="post">
        {% csrf_token %}
        {{ form | crispy}}
        <input type="submit" value="Absenden">
    </form>
    <br />
    Oder schreiben Sie uns eine E-Mail an: <a href="mailto:GreenOasis.Pflanzen@gmail.com"
        style='color:goldenrod'>GreenOasis.Pflanzen@gmail.com </a>
    <br /><br />
</div>
{% include "store/footer2.html" %}
{% endblock %}

{% block footer %}
{% endblock %}