{% extends 'store/main.html' %}
{% load static %}
{% load i18n %}

<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

{% block favicon %}
<link rel="shortcut icon" href="{% static 'images/GreenOasis0.png' %}" />
{% endblock %}

{% block content %}
<br /><br />
<h1 align=center>Vielen Dank für Ihre Anfrage!</h1><br />
<p align=center>Ihre Kontaktinformationen und Ihre Nachricht wurden erfolgreich übermittelt.</p>

<br /><br />
{% endblock %}